{% extends 'base.html' %}
{% load staticfiles %}

{% block vendor %}
  <script src="{% static 'js/validator.min.js' %}"></script>
  {% include 'commonTemplates/uploader_setup.html' %}
{% endblock %}

{% block page %}
  {% if error %}

    <div class="alert alert-warning alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Warning!</strong> {{ error }}
    </div>

  {% endif %}

  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal" method="POST" enctype="multipart/form-data" role="form" data-toggle="validator">
        {% csrf_token %}

        <div class="form-group">
          <label class="col-sm-2 control-label">Gig Title</label>
          <div class="col-sm-10">
            <textarea rows="3" class="form-control" name="title" data-minlength="2" required></textarea>
            <div class="help-block with-errors">* required</div>
        </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">CATEGORY</label>
          <div class="col-sm-10">
            <select name="category" class="form-control" required>
              <option value="LL">League of Legends</option>
              <option value="OW">Overwatch</option>
              <option value="CS">Counter Strike</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">DESCRIPTION</label>
          <div class="col-sm-10">
            <textarea rows="5" placeholder="Describe your product here..."class="form-control" name="description" data-minlength="2" required></textarea>
            <div class="help-block with-errors">* required</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">PRICE ($)</label>
          <div class="col-sm-10">
            <input id="price" type="number" class="form-control" min='1' max='500' value=6 name="price" required>
            <div class="help-block with-errors">* required</div>
            <div class="fee-message">Roast.gg's fee is 10% + $0.30. Currently: <span id="fee"></span></div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Image</label>
          <div class="col-sm-10">
            {% include 'commonTemplates/file_uploader_field.html' with instance=gig field=gig.photo fieldname='photo' %}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Status</label>
          <div class="col-sm-10">
            <div class="checkbox checkbox-primary">
              <input id="checkbox-emailoptin" type="checkbox" name="status" checked>
              <label for="checkbox-emailoptin">
              Gig active.
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Create Gig</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  {% include 'commonTemplates/calculateFee.html' %}
  
  <script>
  // jQuery plugin to prevent double submission of forms
  jQuery.fn.preventDoubleSubmission = function() {
    $(this).on('submit',function(e){
      var $form = $(this);

      if ($form.data('submitted') === true) {
        // Previously submitted - don't submit again
        e.preventDefault();
      } else {
        // Mark it so that the next submit can be ignored
        $form.data('submitted', true);
      }
    });

    // Keep chainability
    return this;
  };

  $('form').preventDoubleSubmission();
  </script>
{% endblock %}
